/* JEET SETTINGS */
jeet = {
  gutter: 3,
  parent-first: false,
  layout-direction: LTR,
  max-width: 1280px
}

/* FONTS SETTINGS */
roboto = "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif
base-font = roboto

/* COLORS */
$light = #f7f7f7
$mid-gray = #9b9b9b
$dark-gray = #4a4a4a

$orange = #ffa62a
$cyan = #81c9c4

$base-bg-color = $light
$footer-color = $light

/* Link Colors */
$_link-color = $mid-gray
$_link-hover-color = $orange
// header links
$h-link-color = white
$h-link-hover-color = $mid-gray
$h-link-active-color = $dark-gray
// navbar links

// button colors
  // light
$light-btn-color = $dark-gray
$light-btn-bg = $light
$light-btn-bg-hover = lighten($light, 2)
$light-btn-bg-active = darken($light, 2)
$light-btn-bottom = 2px solid darken($light, 17)
$light-btn-hover-bottom = 4px solid darken($light, 15)
  // dark
$dark-btn-color = $light
$dark-btn-bg = $dark-gray
$dark-btn-bg-hover = lighten($dark-gray, 5)
$dark-btn-bg-active = darken($dark-gray, 3)
$dark-btn-bottom = 2px solid darken($dark-gray, 7)
$dark-btn-hover-bottom = 4px solid darken($dark-gray, 5)

/* NAVBAR */
navbar-height = xm(70)
