roboto = "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif
base-font = roboto

body
  color $dark-gray
  font-family base-font
  background $base-bg-color

/* base link style */
a
  text-decoration none
  color $_link-color

  &:hover
    color $_link-hover-color

h1
  font-size xm(48)
  @media(min-width md-width)
    font-size xm(72)

h2
h3
p
a
  font-weight 300

h2
  font-size xm(32)
  @media(min-width md-width)
    font-size xm(48)

h3
  font-size xm(32)

p
  font-size xm(20)

.page-title

  >span
    color $mid-gray

.no-li-style
  list-style-type none

li
  font-size xm(20)
  font-weight 300
  margin 1em auto

.page-content
  padding navbar-mobile-height 0 xm(70)
  @media(min-width sm-width)
    padding navbar-height 0 xm(100)

hr
  border-top none
  border-bottom 1px solid $light-gray

label
  margin-right 2em
  font-size xm(20)
  font-weight 300

input[type=text]
input[type=email]
  border none
  border-bottom 1px solid $mid-gray
  background transparent
  outline none
  font-weight 300

.text-label
  col(1/5)
  vertical-align bottom

.text-input
  col(3.5/5)
  height 3em

