footer-height = xm(120)

footer
  background #b29a44
  background linear-gradient(to bottom, #b29a44 0%,#f76b1c 100%)
  min-height footer-height
  color $footer-color
  margin-bottom -2em
  padding 3em 0

.os-link
  display inline-block
  width xm(70)
  margin auto 2em

.copy-text
  color $light
  font-size xm(16)
  font-weight 100

  &:hover
    color $dark-gray
