md-width = xm(720)

.container
  center(pad: 1em)
  @media(min-width md-width)
    center(pad: 5em)

.row
  cf()

.col-1
  stack()

.col-md-1-2
  @media(min-width md-width)
    col(1/2, gutter: 10, cycle: 2)

.col-md-2-3
  @media(min-width md-width)
    col(2/3)

.col-md-1-3
  @media(min-width md-width)
    col(1/3)

.col-4-5
  stack()
  @media(min-width md-width)
    margin-left 10%
    width 80%
