.landing
  // edit()
  padding-bottom 2em
  @media(min-width sm-width)
    padding-bottom 0
    min-height 100vh
  max-height xm(940)
  background #fad961
  background linear-gradient(to bottom, #fad961 0%,#f76b1c 100%)

.brand-icon
  width xm(50)
  @media(min-width sm-width)
    display none

.brand-logo
  vertical-align top

.brand-name
  margin-left -.5em
  margin-bottom 0
  display inline-block
  @media(max-width sm-width)
    margin-top -2em

  &::first-letter
    visibility visible
    @media(min-width xs-width)
      visibility hidden

.tag-line
  color white
  font-size xm(24)

.action-buttons
  @media(min-width md-width)
    // text-align center
    padding-top 3em

.main-screenshot
  width 100%
  @media(min-width md-width)
    width 90%

.features
  margin xm(150) auto xm(70)
  @media(min-height xm(940))
    margin xm(100) auto

.feature-title
  margin -1em auto .5em
  @media(min-width lg-width)
    margin 1em auto .5em

.feature-name
  margin .75em auto

