#navbar
  position fixed
  visibility hidden

.home-header
  // edit()
  // background rgba(0,0,0,0.1)
  padding 2em
  margin-bottom 2em

.header-links
.nav-link
.nav-links
.brand-icon
  display inline-block

// navbar link text in general
.header-links
.nav-link
.nav-links
  >a
    font-size xm(24)
    padding .3em .5em
    margin .75em

.header-links
  >a
    color $h-link-color
    &:hover
      color $h-link-hover-color
      border-bottom 2px solid $light

  >.link-active
    color $h-link-active-color
    border-bottom 2px solid $light
    &:hover
      color $h-link-active-color

/* COMMON NAVBAR */
.navbar
  position fixed
  height navbar-height
  width 100%
  top 0
  background white
  background rgba(255,255,255,0.87)
  border-bottom 1px solid #e4e4e4

nav
  position relative
  height navbar-height
  padding 0 2em

.nav-brand-icon
  width xm(50)
  position absolute
  transform-style preserve-3d
  top 50%
  left 40%
  transform translate(-50%, -50%)

.nav-link
.nav-links
  >a
    padding .8em
    &:hover
      color $dark-gray
      border-bottom 2px solid #f5a623
    
.nav-links
  right 0

  >.link-active
    color $dark-gray
    border-bottom 2px solid #f5a623
