#navbar
  position fixed
  visibility hidden

.home-header
  // edit()
  // background rgba(0,0,0,0.1)
  padding 2em
  margin-bottom 2em

.header-links
.nav-link
.nav-links
.brand-icon
  display inline-block

// navbar link text in general
.header-links
.nav-link
.nav-links
  >a
    font-size xm(24)
    padding .3em .5em
    margin .75em

.header-links
  >a
    color $h-link-color
    &:hover
      color $h-link-hover-color
      border-bottom 2px solid $light

  >.link-active
    color $h-link-active-color
    border-bottom 2px solid $light
    &:hover
      color $h-link-active-color

/* COMMON NAVBAR */
.navbar
  position fixed
  height navbar-mobile-height
  width 100%
  top 0
  background white
  background rgba(255,255,255,0.87)
  border-bottom 1px solid #e4e4e4
  z-index 999
  @media(min-width md-width)
    height navbar-height

nav
  position relative
  height navbar-mobile-height
  padding 0 2em
  @media(min-width md-width)
    height navbar-height

.nav-brand-icon
  width xm(40)
  position absolute
  transform-style preserve-3d
  top 50%
  left 8%
  transform translate(-50%, -50%)
  @media(min-width md-width)
    left 30%
  @media(min-width lg-width)
    left 40%

.nav-link
.nav-links
  >a
    &:hover
      color $dark-gray
      border-bottom 2px solid #f5a623

.nav-link
  >a
    padding-left 1em
    @media(min-width md-width)
      padding .8em
    
.nav-links
  right 0
  display none
  @media(min-width sm-width)
    display block

  >a
    padding .35em .1em
    @media(min-width md-width)
      padding .8em

  >.link-active
    color $dark-gray
    border-bottom 2px solid #f5a623
