// Convert pX to eM
xm(px_val, base = 16)
  unit(px_val/base, em)

// Convert pX to ReM
xrm(px_val, base = 16)
  unit(px_val/base, rem)

.pull-right
  float right

.pull-left
  float left

.align-center
  text-align center

.v-align
  align(vertical)

.img-1
  width 100%

