footer.align-center
  .os-icons
    a.os-link(href="http://www.apple.com/osx/")
      img.img-1(src="img/macosx.svg", alt="Max OS X icon")
    a.os-link(href="http://www.microsoft.com/en-ca/windows")
      img.img-1(src="img/microsoft-windows.svg", alt="Windows system icon")
    a.os-link(href="http://www.ubuntu.com")
      img.img-1(src="img/ubuntu.svg", alt="Ubuntu Linux system icon")
  p Sublime Text is available for OS X, Windows and Linux
  a.copy-text(href="http://www.sublimetext.com") &copy; Sublime Text
